.body-bg {
  background-color:#fff;
  background: url(https://wwwlike.gitee.io/vlife-img/vlife.jpg) auto no-repeat;
}

.gitee {
  position: absolute;
  left: 8px;
  top: 8px;
  z-index: 1;
  width: 40px;
  height: 40px;
  background: no-repeat;
  cursor: pointer;
  background: url(https://img.bosszhipin.com/static/file/2022/4dwjcdpfje1667186848239.png) 0 0/40px auto no-repeat;
}

 .switch-tip {
  position: absolute;
  left: 60px;
  top: 4px;
  padding: 0 14px;
  border-radius: 4px;
  font-size: 12px;
  color: #666;
  line-height: 32px;
  text-align: center;
  background: #fff;
  box-shadow: 0 6px 13px 0 rgb(0 0 0 / 10%);
  white-space: nowrap;
  cursor: default;
  pointer-events: none;
}


.login-wrapper {
  /* position: relative; */
  width: 456px;
}

.main-container {
  position: absolute;
  right:10%;
  width: 456px;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 554px;
  padding: 48px 60px;
  margin: auto 0;
  border-radius: 24px;
  overflow: hidden;
  background: #FFFFFF;
}