html,
body,
#root,
#root > * {
	height: 100%;
	margin: 0;
	// color: rgba(0, 0, 0, 0.65) !important;
	// --semi-color-primary: rgba(var(--semi-violet-6), 1);
	// --semi-color-primary-hover: rgba(var(--semi-violet-3), 1);
	// --semi-color-primary-light-default: rgba(var(--semi-violet-0), 1);
	.flex-between {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
